<div class="parent-box">
  <div class="box">
    <h1 class="title">Ajouter un produit</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div id="subscribe-form-parent">
        <div class="input-label" id="subscribe-form-label">
          <label for="name">Nom</label>
        </div>
        <div class="input-form" id="subscribe-form-input">
          <input type="text" formControlName="name" id="name" name="name" placeholder="Entrer le Nom de l'entreprise" [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors }"/>
          <div *ngIf="submitted && form.controls.name.errors">
            <div *ngIf="form.controls.name.errors.required">Le nom est requis</div>
            <div *ngIf="form.controls.name.errors.minlength || form.controls.name.errors.maxlength">Le nom doit contenir entre 4 et 20 caractères</div>
          </div>
          <div>
            <div *ngIf="!form.controls.name.errors" class="hidden-div">...</div>
          </div>
        </div>
      </div>
      <div id="subscribe-form-parent">
        <div class="input-label" id="subscribe-form-label">
          <label for="description">Description</label>
        </div>
        <div class="input-form" id="subscribe-form-input">
          <textarea type="text" formControlName="description" id="description" name="description" placeholder="Entrer la Description pour l'entreprise" [ngClass]="{ 'is-invalid': submitted && form.controls.description.errors }"></textarea>
          <div *ngIf="submitted && form.controls.description.errors">
            <div *ngIf="form.controls.description.errors.required">La description est requise</div>
            <div *ngIf="form.controls.description.errors.minlength || form.controls.description.errors.maxlength">La description doit contenir entre 10 et 255 caractères</div>
          </div>
          <div>
            <div *ngIf="!form.controls.description.errors" class="hidden-div">...</div>
          </div>
        </div>
      </div>
      <div id="button-form">
        <button type="submit">Envoyer</button>
      </div>
    </form>
  </div>
</div>
