<div class="parent-box">
    <div class="box" *ngIf="!enterprises?.length">
        <p>Aucun partenaire</p>
    </div>
    <div *ngFor="let enterprise of enterprises">
        <a [routerLink]="['/enterprise/informations', enterprise.id]">
            <div class="box">
                <div class="grid-infos-description">
                    <div class="grid-infos-sup">
                        <img class="infos-image" src="{{ enterprise.linkimg }}"/>
                    </div>
                    <div class="grid-infos-inf">
                        <div id="grid-ul">
                            <ul>
                                <li class="infos">name</li>
                                <li class="infos">email</li>
                            </ul>
                            <ul>
                                <li class="infos">{{ enterprise.name }}</li>
                                <li class="infos"><a href="mailto:{{ enterprise.email }}">{{ enterprise.email }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-infos-inf-description">
                        <p class="description">{{ enterprise.enterpriseInformations.description }}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>