<div class="parent-box">
    <div class="box">
        <h1 class="title">Inscription</h1>
        <div class="login-buttons">
            <div>
                <b><p>JE POSSEDE UN COMPTE : </p></b>
            </div>
            <div>
                <a id="link-login" routerLink="/login">se connecter</a>
            </div>
        </div>
        <div class="button-page" id="button-page-principal">
            <div id="slide"></div>
            <a routerLink="/user/add">-  Je suis client  -</a>
        </div>
        <div class="button-page" id="button-page-principal">
            <div id="slide"></div>
            <a routerLink="/enterprise/add">-  Je suis une entreprise  -</a>
        </div>
    </div>
</div>
