<div class="parent-box">
	<div class="box" *ngFor="let product of products">
		<div class="grid-infos-description">
			<div class="grid-infos-sup">
				<img class="infos-image" src="{{ product.linkimg }}"/>
			</div>
            <div class="grid-infos-inf">
                <div id="grid-ul">
                    <ul>
                        <li class="infos">name</li>
                    </ul>
                    <ul>
                        <li class="infos">{{ product.name }}</li>
                    </ul>
                </div>
            </div>
            <div class="grid-infos-inf-description">
                <p class="description">{{ product.description }}</p>
            </div>
        </div>
	</div>
    <div class="button-page" id="button-page-principal">
        <a routerLink="/enterprise/product/add">Ajouter un produit</a>
    </div>
</div>