<div class="parent-box">
    <div class="box">
      <h1 class="title">Mes préférences</h1>
      <div id="subscribe-form-parent">
        <div class="center">
          <div *ngFor="let categorie of categories, let i = index">
            <div *ngIf="numbers.includes(i)" class="green" id="button-form">
              {{ categorie.name }}
              <button (click)="deleteCategorie(categorie.id)">Retirer</button>
            </div>
            <div *ngIf="!numbers.includes(i)" class="red" id="button-form">
              {{ categorie.name }}
              <button (click)="addCategorie(categorie)">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>