<div class="parent-box">
  <div class="box">
    <h1 class="title">Ajouter un panier</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div id="subscribe-form-parent">
        <div class="input-label" id="subscribe-form-label">
          <label for="number">Nombre de panier</label>
        </div>
        <div class="input-form" id="subscribe-form-input">
          <input type="number" formControlName="number" id="number" name="number"/>
        </div>
      </div>
      <div id="subscribe-form-parent">
        <div class="input-label" id="subscribe-form-label">
          <label for="name">Nom</label>
        </div>
        <div class="input-form" id="subscribe-form-input">
          <input type="text" formControlName="name" id="name" name="name" placeholder="Entrer le Nom du paquet" [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors }"/>
          <div *ngIf="submitted && form.controls.name.errors">
            <div *ngIf="form.controls.name.errors.required">Le nom est requis</div>
            <div *ngIf="form.controls.name.errors.minlength || form.controls.name.errors.maxlength">Le nom doit contenir entre 4 et 20 caractères</div>
          </div>
          <div>
            <div *ngIf="!form.controls.name.errors" class="hidden-div">...</div>
          </div>
        </div>
      </div>
      <div id="subscribe-form-parent">
        <div class="input-label" id="subscribe-form-label">
          <label for="description">Description</label>
        </div>
        <div class="input-form" id="subscribe-form-input">
          <textarea type="text" formControlName="description" id="description" name="description" placeholder="Entrer la Description pour le paquet" [ngClass]="{ 'is-invalid': submitted && form.controls.description.errors }"></textarea>
          <div *ngIf="submitted && form.controls.description.errors">
            <div *ngIf="form.controls.description.errors.required">La description est requise</div>
            <div *ngIf="form.controls.description.errors.minlength || form.controls.description.errors.maxlength">La description doit contenir entre 10 et 255 caractères</div>
          </div>
          <div>
            <div *ngIf="!form.controls.description.errors" class="hidden-div">...</div>
          </div>
        </div>
      </div>
      <div id="subscribe-form-input">
        <h2>produit</h2>
        <div *ngFor="let productForm of products.controls; let i = index">
          <div *ngIf="productForm" id="button-form">
            <label class="green">
              {{ getProduct(i) }}
            </label>
            <button type="button" (click)="deleteProduct(i)">Supprimer</button>
          </div>
        </div>
      </div>
      <div id="subscribe-form-parent">
        <div  formArrayName="products" class="input-form" id="subscribe-form-input">
          <div id="button-form" *ngFor="let productE of productList">
            <button *ngIf="!compareProduct(productE)" type="button" class="red" (click)="addProduct(productE.id, productE.name, productE.description, productE.linkimg)">{{productE.name}}</button>
          </div>
        </div>
      </div>
      <div class="horizontal-ligne"></div>
      <div id="subscribe-form-input">
        <h2>Categorie</h2>
        <div *ngFor="let categorieForm of categories.controls; let i = index">
          <div *ngIf="categorieForm" id="button-form">
            <label class="green">
              {{ getCategorie(i) }}
            </label>
            <button type="button" (click)="deleteCategorie(i)">Supprimer</button>
          </div>
        </div>
      </div>
      <div id="subscribe-form-parent">
        <div  formArrayName="categories" class="input-form" id="subscribe-form-input">
          <div id="button-form" *ngFor="let categorieE of categorieList">
            <button *ngIf="!compareCategorie(categorieE)" type="button" class="red" (click)="addCategorie(categorieE.id, categorieE.name, categorieE.description)">{{categorieE.name}}</button>
          </div>
        </div>
      </div>
      <div id="button-form">
        <button type="submit">Envoyer</button>
      </div>
    </form>
  </div>
</div>